.css_btn_class {
  font-size:17px;
  font-family:Arial; 
  font-weight:normal;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #dcdcdc;
  padding:9px 18px;
  text-decoration:none;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(34%, #ededed), color-stop(71%, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 34%, #dfdfdf 71% );
  background:-ms-linear-gradient( top, #ededed 34%, #dfdfdf 71% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  color:#777777;
  display:inline-block;
  }.css_btn_class:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(34%, #dfdfdf), color-stop(71%, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 34%, #ededed 71% );
  background:-ms-linear-gradient( top, #dfdfdf 34%, #ededed 71% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
  }.css_btn_class:active {
  position:relative;
  top:1px;
}